<div class="footer">
  <div class="footer-helper">
    <div class="footer-contact">
      <p class="footer-contact_title">
        <span class="color_primary">CONTACT</span> US
      </p>

      <div class="footer-contact-pair">
        <img class="footer-contact-pair_img1" src="../../assets/gps.png" />
        <p class="footer-contact-pair_p">
          ul. Guido Henckela Donnersmarcka 11,<br />41-&nbsp;807&nbsp;Zabrze
        </p>
      </div>

      <div class="footer-contact-pair">
        <img class="footer-contact-pair_img1" src="../../assets/phone.png" />
        <p class="footer-contact-pair_p">
          +48 609 947 000 / +48&nbsp;600&nbsp;413&nbsp;302
        </p>
      </div>

      <div class="footer-contact-pair">
        <img class="footer-contact-pair_img2" src="../../assets/mail.png" />
        <p class="footer-contact-pair_p">shop@oriontools.pl</p>
      </div>
    </div>

    <div class="form-helper">
      <p class="footer-contact_title">
        <span class="color_primary">CONTACT</span> FORM
      </p>
      <form
        class="footer-form"
        [formGroup]="footerForm"
        (ngSubmit)="onSubmit()"
      >
        <label class="footer-form-label"
          >EMAIL <span style="color: #ff0000">*</span></label
        >
        <input
          class="footer-form_email"
          type="email"
          maxlength="320"
          formControlName="email"
        />

        <label class="footer-form-label"
          >MESSAGE <span style="color: #ff0000">*</span></label
        >
        <textarea
          class="footer-form_message"
          maxlength="500"
          formControlName="message"
        ></textarea>

        <button class="footer-form_submit" type="submit">Send</button>
      </form>
    </div>
  </div>

  <div class="footer-logo">
    <a href="https://www.oriontools.pl/" target="_blank">
      <img class="footer-logo_img" src="../../assets/footerLogo.png" />
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100079151346778"
      target="_blank"
    >
      <img class="footer-logo_fb" src="../../assets/footerFB.png" />
    </a>
  </div>

  <p class="footer-description">
    Orion Tools is a leader in the production of industrial knives on the
    European market. Recycling knives and wood shredder knives represent a
    significant part of our production.
  </p>

  <div class="footer-signature">
    <a href="https://www.oriontools.pl/">&copy; 2023 Orion Tools </a>
  </div>
</div>
