<div class="about">
  <img class="about_img" src="../../assets/about_img.png" />

  <div class="about-descriptions">
    <div class="about-descrioptions_item">
      <div class="item-title">
        <div class="item-title_numbers">01</div>
        <div class="item-title_title color_primary">EXPERIENCE</div>
      </div>
      <!-- <hr class="item-title_hr" /> -->
      <p class="item-description">
        Our staff has over 20 years of experience in the production of
        industrial knives.
      </p>
    </div>

    <div class="about-descrioptions_item">
      <div class="item-title">
        <div class="item-title_numbers">02</div>
        <div class="item-title_title color_primary">WORLD BRAND</div>
      </div>
      <!-- <hr class="item-title_hr" /> -->
      <p class="item-description">
        Our regular customers are over 1,200 companies from all over the world.
      </p>
    </div>

    <div class="about-descrioptions_item">
      <div class="item-title">
        <div class="item-title_numbers">03</div>
        <div class="item-title_title color_primary">QUALITY</div>
      </div>
      <!-- <hr class="item-title_hr" /> -->
      <p class="item-description">
        Modern machinery and quality control at every stage of production.
      </p>
    </div>
  </div>
</div>
