<div class="about">
  <img class="about_img" src="../../assets/about_img.png" />

  <div class="about-descriptions">
    <div class="about-descrioptions_item">
      <div class="item-title">
        <div class="item-title_numbers">01</div>
        <div class="item-title_title color_primary">DOŚWIADCZENIE</div>
      </div>
      <!-- <hr class="item-title_hr" /> -->
      <p class="item-description">
        Nasz personel ma ponad 20 lat doświadczenia w produkcji noży
        przemysłowych.
      </p>
    </div>

    <div class="about-descrioptions_item">
      <div class="item-title">
        <div class="item-title_numbers">02</div>
        <div class="item-title_title color_primary">ŚWIATOWA MARKA</div>
      </div>
      <!-- <hr class="item-title_hr" /> -->
      <p class="item-description">
        Naszymi stałymi klientami jest ponad 1200 firm z całego świata.
      </p>
    </div>

    <div class="about-descrioptions_item">
      <div class="item-title">
        <div class="item-title_numbers">03</div>
        <div class="item-title_title color_primary">JAKOŚĆ</div>
      </div>
      <!-- <hr class="item-title_hr" /> -->
      <p class="item-description">
        Najnowocześniejszy park maszynowy i kontrola jakości na&nbsp;każdym
        etapie produkcji.
      </p>
    </div>
  </div>
</div>
