<div class="app" (scroll)="onScroll()">
  <button class="scroll-to-top_button" (click)="scrollTop()"></button>

  <button
    class="app-menu_button"
    (click)="toggle()"
    [class.app-menu_button-active]="isExpanded"
  ></button>
  <div class="app-menu-list" [class.app-menu-list-active]="isExpanded">
    <button class="app-menu-list_button" (click)="scrollToAbout()">
      About
    </button>
    <button class="app-menu-list_button" (click)="scrollToWood()">
      Knives and parts for wood
    </button>
    <button class="app-menu-list_button" (click)="scrollToOffer()">
      Our offer
    </button>
    <button class="app-menu-list_button" (click)="scrollToNewest()">
      Latest products
    </button>
    <button class="app-menu-list_button" (click)="scrollToFooter()">
      Contact
    </button>
  </div>

  <app-baner></app-baner>
  <app-about></app-about>
  <app-wood></app-wood>
  <app-offer></app-offer>
  <app-newest></app-newest>
  <app-footer></app-footer>
</div>
