<div class="offer">
  <div class="offer-baner">
    <div class="offer-baner-title">
      <div class="offer-baner-title_onDisplay">
        NASZA <span class="color_primary">OFERTA</span>
      </div>
      <div class="offer-baner-title_inBackground">OFERTA</div>
    </div>

    <div class="offer-baner-description">Co oferujemy:</div>
  </div>

  <div class="offer-row1">
    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers">01</div>
        <div class="offer-item-title_title">
          <span class="color_primary">NOŻE I OSPRZĘT</span> DO DREWNA
        </div>
      </div>

      <div class="offer-item-description">
        Produkujemy noże oraz osprzęt rozdrabniaczy do produkcji płyt wiórowych,
        noże oraz osprzęt rębaków do produkcji biomasy, noże oraz osprzęt do
        tartaków...
      </div>

      <button class="offer-item_button" (click)="offerLink()">
        PRZEJDŹ DO SKLEPU
      </button>
    </div>

    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers">02</div>
        <div class="offer-item-title_title">
          <span class="color_primary">NOŻE I OSPRZĘT</span> DO METALU
        </div>
      </div>

      <div class="offer-item-description">
        Produkujemy noże oraz osprzęt prasonożyc do recyklingu stali, noże oraz
        osprzęt mobilnych nożyc do złomu do recyklingu stali, noże do recyklingu
        metali nieżelaznych...
      </div>

      <button class="offer-item_button" (click)="offerLink()">
        PRZEJDŹ DO SKLEPU
      </button>
    </div>
  </div>

  <div class="offer-row2">
    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers">03</div>
        <div class="offer-item-title_title">
          <span class="color_primary">NOŻE I OSPRZĘT</span> DO RECYKLINGU
        </div>
      </div>

      <div class="offer-item-description">
        Produkujemy noże oraz osprzęt rozdrabniaczy do produkcji RDF, noże oraz
        osprzęt rozdrabniaczy do rozdrabniania opon i gumy, noże oraz osprzęt
        rozdrabniaczy do recyklingu butelek pet...
      </div>

      <button class="offer-item_button" (click)="offerLink()">
        PRZEJDŹ DO SKLEPU
      </button>
    </div>

    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers offer-item-title_numbersHelper">
          04
        </div>
        <div class="offer-item-title_title offer-item-title_titleHelper">
          <span class="color_primary">REGENERACJA ROZDRABNIACZY</span> DWU I
          CZTEROWAŁOWYCH
        </div>
      </div>

      <div class="offer-item-description">
        Nasza firma wykonuje kompleksowe remonty i regeneracje zespołów tnących
        maszyn dwu, trzy i czterowałowych. Noże są napawane napoinami
        trudnościeralnymi...
      </div>

      <button class="offer-item_button" (click)="offerLink()">
        PRZEJDŹ DO SKLEPU
      </button>
    </div>
  </div>
</div>
