<div class="offer">
  <div class="offer-baner">
    <div class="offer-baner-title">
      <div class="offer-baner-title_onDisplay">
        OUR <span class="color_primary">OFFER</span>
      </div>
      <div class="offer-baner-title_inBackground">OFFER</div>
    </div>

    <div class="offer-baner-description">What we offer:</div>
  </div>

  <div class="offer-row1">
    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers offer-item-title_numbersHelper">
          01
        </div>
        <div class="offer-item-title_title offer-item-title_titleHelper">
          <span class="color_primary">KNIVES AND SPARE PARTS</span> FOR WOOD
          INDUSTRY
        </div>
      </div>

      <div class="offer-item-description">
        We produce knives and spare parts for shredders for the&nbsp;production
        of chipboards, knives and spare parts for&nbsp;chippers for the
        production of biomass, knives and&nbsp;spare parts for sawmills...
      </div>

      <button class="offer-item_button" (click)="offerLink()">VIEW MORE</button>
    </div>

    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers offer-item-title_numbersHelper">
          02
        </div>
        <div class="offer-item-title_title offer-item-title_titleHelper">
          <span class="color_primary">KNIVES AND SPARE PARTS</span> FOR METAL
          INDUSTRY
        </div>
      </div>

      <div class="offer-item-description">
        We produce knives and spare parts for steel shears, knives and spare
        parts for mobile scrap shears for steel recycling, knives for
        non-ferrous metal recycling...
      </div>

      <button class="offer-item_button" (click)="offerLink()">VIEW MORE</button>
    </div>
  </div>

  <div class="offer-row2">
    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers offer-item-title_numbersHelper">
          03
        </div>
        <div class="offer-item-title_title offer-item-title_titleHelper">
          <span class="color_primary">KNIVES AND SPARE PARTS</span> FOR
          RECYCLING
        </div>
      </div>

      <div class="offer-item-description">
        We produce knives and spare parts for shredders for RDF production,
        knives and accessories for shredders for grinding tires and rubber,
        knives and spare parts for shredders for recycling PET bottles...
      </div>

      <button class="offer-item_button" (click)="offerLink()">VIEW MORE</button>
    </div>

    <div class="offer-item">
      <div class="offer-item-title">
        <div class="offer-item-title_numbers offer-item-title_numbersHelper">
          04
        </div>
        <div class="offer-item-title_title offer-item-title_titleHelper">
          <span class="color_primary">REGENERATION</span> OF TWO AND FOUR SHAFT
          SHREDDERS
        </div>
      </div>

      <div class="offer-item-description">
        Our company performs comprehensive overhauls and regenerations of
        cutting units for two, three and
        <span class="keeptogether">four-shaft</span> machines. The knives are
        padded with <span class="keeptogether">wear-resistant</span> welds...
      </div>

      <button class="offer-item_button" (click)="offerLink()">VIEW MORE</button>
    </div>
  </div>
</div>
