.wood {
  width: 100%;
  background-color: #353d4d;

  position: relative;
  top: 0;
  left: 0;

  margin-top: 6vw;

  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;

  padding-bottom: 6vw;
}
.wood-img {
  width: 100%;
  height: clamp(min(36.311px), 17.291vw, max(332px));
}
.wood-title_numbers {
  font-family: "Abel", sans-serif;
}
.wood-title_title {
  font-family: "Titillium Web", sans-serif;
}
.wood-card-description_p {
  white-space: pre-line;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.wood-card-description_button:hover {
  background-color: #0f612a;
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
  .woodSwiperSmall1 {
    display: none;
  }
  .woodSwiperSmall2 {
    display: none;
  }
  .woodSwiperMedium {
    display: none;
  }
  .woodSwiperLarge {
    width: 82vw;
    height: 100%;

    margin-top: 2vw;
    padding-bottom: 4vw;
  }

  .wood-title {
    margin-top: 3vw;
    margin-left: 6vw;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  .wood-title_numbers {
    color: #ffffff;
    font-size: clamp(min(85.4px), 6.66vw, max(128px));
    font-weight: bolder;
    opacity: 0.15;
  }
  .wood-title_title {
    color: #ffffff;
    font-size: clamp(min(40px), 3.125vw, max(60px));
    font-weight: bold;

    position: relative;
    right: 3.5vw;
  }

  .wood-card {
    width: 17.76vw;
    margin: auto;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wood-card_img {
    width: 17.76vw;
    height: 14.118vw;
  }
  .wood-card-description {
    width: 100%;
    background-color: #d9d9d9;

    padding-bottom: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wood-card-description_p {
    font-size: clamp(min(16px), 1.25vw, max(24px));
    font-weight: bold;
    text-align: center;
  }
  .wood-card-description_button {
    width: 13vw;
    height: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00963f;
    border: none;

    color: #ffffff;
    font-size: clamp(min(13.3px), 1.04vw, max(20px));
  }

  .wood-description {
    width: 54%;
    background-color: rgba(255, 255, 255, 0.15);

    margin: auto;
    margin-top: 2vw;

    padding: 1vw 2vw 1.2vw 2vw;

    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(min(21.35px), 1.66vw, max(32px));
    color: white;
  }
}

@media screen and (min-width: 777px) and (max-width: 1280px) {
  .woodSwiperSmall1 {
    display: none;
  }
  .woodSwiperSmall2 {
    display: none;
  }
  .woodSwiperLarge {
    display: none;
  }
  .woodSwiperMedium {
    width: clamp(min(592.46px), 76.25vw, max(976px));
    height: 100%;

    margin-top: 2vw;
    padding-bottom: clamp(min(44px), 4vw, max(52px));
  }

  .wood-title {
    margin-top: 3vw;
    margin-left: 6vw;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  .wood-title_numbers {
    color: #ffffff;
    font-size: clamp(min(72px), 6.718vw, max(86px));
    font-weight: bolder;
    opacity: 0.15;
  }
  .wood-title_title {
    color: #ffffff;
    font-size: clamp(min(24.281px), 5.714vw, max(40px));
    font-weight: bold;

    position: relative;
    right: 3.6vw;
  }

  .wood-card {
    width: clamp(min(193px), 24.92vw, max(319px));
    margin: auto;
    background-color: #ffffff;

    position: relative;
    right: 16.7vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wood-card_img {
    width: clamp(min(193px), 24.92vw, max(319px));
    height: 19.81vw;
  }
  .wood-card-description {
    width: 100%;
    background-color: #d9d9d9;

    padding-bottom: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wood-card-description_p {
    font-size: clamp(min(14px), 1.87vw, max(24px));
    font-weight: bold;
    text-align: center;
  }
  .wood-card-description_button {
    width: 18vw;
    height: 4.256vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00963f;
    border: none;

    color: #ffffff;
    font-size: clamp(min(12px), 1.562vw, max(20px));
  }

  .wood-description {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.15);

    margin: auto;
    margin-top: 2vw;

    padding: 1vw 2vw 1.4vw 2vw;

    text-align: center;

    font-size: clamp(min(15.782px), 2.031vw, max(26px));
    color: white;
  }
}

@media screen and (min-width: 2px) and (max-width: 776px) {
  .woodSwiperSmall1 {
    width: clamp(min(178px), 64vw, max(496.64px));
    height: 100%;

    margin-top: 2vw;
  }
  .woodSwiperSmall2 {
    width: clamp(min(178px), 64vw, max(496.64px));
    height: 100%;

    margin-top: 2vw;
  }
  .woodSwiperMedium {
    display: none;
  }
  .woodSwiperLarge {
    display: none;
  }

  .wood-title {
    margin-top: 3vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .wood-title_numbers {
    color: #ffffff;
    font-size: clamp(min(22px), 12.38vw, max(64px));
    font-weight: bolder;
    opacity: 0.15;
  }
  .wood-title_title {
    color: #ffffff;
    font-size: clamp(min(10px), 5.714vw, max(30px));
    font-weight: bold;

    position: relative;
    top: clamp(min(1px), 3.4vw, max(20px));
    right: 4.2vw;
  }

  .wood-buttons-helper {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
  }
  .card-buttons_left {
    width: clamp(min(20px), 5.797vw, max(45px));
    height: clamp(min(20px), 5.797vw, max(45px));

    margin-bottom: 9vw;

    background-image: url("../../assets/arrow_left.png");
    background-size: cover;
    background-color: #353d4d;
    border: none;
  }
  .card-buttons_right {
    width: clamp(min(20px), 5.797vw, max(45px));
    height: clamp(min(20px), 5.797vw, max(45px));

    margin-bottom: 9vw;

    background-image: url("../../assets/arrow_right.png");
    background-size: cover;
    background-color: #353d4d;
    border: none;
  }

  .wood-card {
    width: clamp(min(116px), 40vw, max(310.4px));
    margin: auto;
    background-color: #353d4d;

    padding-bottom: clamp(min(38px), 8vw, max(62px));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wood-card-img_helper {
    width: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wood-card_img {
    width: clamp(min(116px), 40vw, max(310.4px));
    height: clamp(min(92.22px), 31.8vw, max(246.8px));
  }
  .wood-card-description {
    width: 100%;
    background-color: #d9d9d9;

    padding-bottom: clamp(min(10px), 4vw, max(31px));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wood-card-description_p {
    font-size: clamp(min(8px), 2.577vw, max(20px));
    font-weight: bold;
    text-align: center;
  }
  .wood-card-description_button {
    width: clamp(min(81.2px), 28vw, max(217px));
    height: clamp(min(27.26px), 9.4vw, max(73px));

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00963f;
    border: none;

    color: #ffffff;
    font-size: clamp(min(8px), 2.061vw, max(16px));
    font-weight: bold;
  }

  .wood-description {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.15);

    margin: auto;
    margin-top: 3vw;

    padding: 2vw 2vw 2.4vw 2vw;

    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(min(8px), 3.809vw, max(20px));
    color: white;
  }
}
