<div class="wood">
  <img class="wood-img" src="../../assets/productsEnglish.png" />
  <div class="wood-title">
    <div class="wood-title_numbers">01</div>
    <div class="wood-title_title">
      <span class="color_primary">KNIVES AND SPARE PARTS</span> FOR WOOD
      INDUSTRY
    </div>
  </div>

  <swiper [config]="woodSwiperConfigSmall1" class="woodSwiperSmall1">
    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left1 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/1.png"
              alt="woodKnife1"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[0] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right1 card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left1 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/2.png"
              alt="woodKnife2"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[1] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right1 card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left1 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/3.png"
              alt="woodKnife3"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[2] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right1 card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left1 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/4.png"
              alt="woodKnife4"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[3] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right1 card-buttons_right"></div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="woodSwiperConfigSmall2" class="woodSwiperSmall2">
    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left2 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/5.png"
              alt="woodKnife5"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[4] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right2 card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left2 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/6.png"
              alt="woodKnife6"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[5] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right2 card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left2 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/7.png"
              alt="woodKnife7"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[6] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right2 card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="wood-buttons-helper">
        <div class="wood-card-buttons_left2 card-buttons_left"></div>

        <div class="wood-card">
          <div class="wood-card-img_helper">
            <img
              class="wood-card_img"
              src="../../assets/woodKnifes/8.png"
              alt="woodKnife8"
            />
          </div>

          <div class="wood-card-description">
            <p class="wood-card-description_p">
              {{ WoodCaptions[7] }}
            </p>
            <button (click)="woodLink()" class="wood-card-description_button">
              VIEW MORE
            </button>
          </div>
        </div>

        <div class="wood-card-buttons_right2 card-buttons_right"></div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="woodSwiperConfigMedium" class="woodSwiperMedium">
    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/1.png"
            alt="woodKnife1"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[0] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/2.png"
            alt="woodKnife2"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[1] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/3.png"
            alt="woodKnife3"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[2] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/4.png"
            alt="woodKnife4"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[3] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/5.png"
            alt="woodKnife5"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[4] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/6.png"
            alt="woodKnife6"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[5] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/7.png"
            alt="woodKnife7"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[6] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/8.png"
            alt="woodKnife8"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[7] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="woodSwiperConfigLarge" class="woodSwiperLarge">
    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/1.png"
            alt="woodKnife1"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[0] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/2.png"
            alt="woodKnife2"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[1] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/3.png"
            alt="woodKnife3"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[2] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/4.png"
            alt="woodKnife4"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[3] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/5.png"
            alt="woodKnife5"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[4] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/6.png"
            alt="woodKnife6"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[5] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/7.png"
            alt="woodKnife7"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[6] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="wood-card">
        <div class="wood-card-img_helper">
          <img
            class="wood-card_img"
            src="../../assets/woodKnifes/8.png"
            alt="woodKnife8"
          />
        </div>

        <div class="wood-card-description">
          <p class="wood-card-description_p">
            {{ WoodCaptions[7] }}
          </p>
          <button (click)="woodLink()" class="wood-card-description_button">
            VIEW MORE
          </button>
        </div>
      </div>
    </ng-template>
  </swiper>

  <p class="wood-description">
    <b>We produce for machines:</b> Ahwi, Albach, Jenz, Doppstadt, Mus-Max,
    Eschlböck, Kesla, Junkkari Heizohack, Bruks, Morbark, Vermeer, Bandit,
    Klockner, Maier, Hombak, Teknamotor, Laski, Klöckner, Pallmann, Pezzolato,
    Oska, Camura, Lindana, Erjo, Farmi and&nbsp;many&nbsp;more.
  </p>
</div>
